* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.link {
  color: inherit;
  opacity: 0.8;
}

.link:hover {
  color: #388E3C;
  opacity: 1;
}